.frictionless-components-report {
    background-color: #fff;
}

.frictionless-components-report .debug {
    height: 20em;
}

.frictionless-components-report .file-heading {
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
}

.frictionless-components-report .file-heading strong {
    font-weight: 600;
}

.frictionless-components-report .file-heading .inner {
    display: table;
    width: 100%;
    position: relative;
    z-index: 1;
    text-align: right;
}

.frictionless-components-report .file-heading .inner.stick {
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 99;
}

.frictionless-components-report .file-heading .inner :first-child {
    text-align: left;
}

.frictionless-components-report .file-heading .inner:before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #fff;
    z-index: -1;
    border-bottom: solid 1px #B3B3B3;
    border-top: solid 1px #B3B3B3;
}

.frictionless-components-report .file-heading .file-count,
.frictionless-components-report .file-heading .file-name {
    height: 64px;
    vertical-align: middle;
}

.frictionless-components-report .file-heading .file-name {
    display: table-cell;
    color: #333333;
    text-decoration: none;
}

.frictionless-components-report .file-heading .file-name:hover {
    color: inherit;
}

.frictionless-components-report .file-heading .file-count {
    display: none;
}

@media screen and (min-width: 768px) {
    .frictionless-components-report .file-heading .file-count {
        display: table-cell;
        color: #aaa;
    }
}

.frictionless-components-report .file .badge {
    display: inline-block;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    vertical-align: super;
    margin-left: 0.4em;
    min-width: 1.6em;
    padding: 0.25em;
}

.frictionless-components-report .file.warning .file-heading .inner:before {
    border-bottom-color: #f0ad4e;
}

.frictionless-components-report .file.valid .file-heading .inner:before {
    border-top-color: #01CD81;
    border-bottom-color: #01CD81;
}

.frictionless-components-report .file.valid .file-heading strong {
    color: #01CD81;
}

.frictionless-components-report .file.invalid .file-heading .inner:before {
    border-top-color: #F13C3F;
    border-bottom-color: #F13C3F;
}

.frictionless-components-report .file.invalid .file-heading strong {
    color: #F13C3F;
}

.frictionless-components-report .file.invalid .file-heading .badge {
    background-color: #F13C3F;
    border-radius: 8px;
    color: white;
}

.frictionless-components-report .result {
    margin: 30px 0;
    font-size: 12px;
    position: relative;
}

.frictionless-components-report .result .d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.frictionless-components-report .result .text-center {
    text-align: center !important;
}

.frictionless-components-report .result .align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.frictionless-components-report .result .count {
    font-size: 14px;
    font-weight: 600;
    margin-right: 5px;
}

.frictionless-components-report .result .badge {
    font-size: 14px;
    margin-right: 10px;
    padding: 4px 8px;
    border-radius: 0.25rem;
}

.frictionless-components-report .result .badge:empty {
    display: none;
}

.frictionless-components-report .result .badge.badge-warning {
    text-align: left;
    white-space: normal;
    color: white;
}

.frictionless-components-report .result .badge.badge-error {
    position: relative;
    background-color: #F13C3F;
    cursor: pointer;
    color: #fff;
    z-index: 2;
}

.frictionless-components-report .result .error-details {
    font-size: 14px;
    border: solid 2px #F13C3F;
    border-radius: 3px;
    margin-top: -2px;
}

.frictionless-components-report .result .error-details .error-description {
    padding: 15px;
}

.frictionless-components-report .result .error-details .error-description :last-child {
    margin-bottom: 0;
}

.frictionless-components-report .result .error-details .error-description + .error-list {
    border-top: solid 1px #F13C3F;
}

.frictionless-components-report .result .error-details .error-description + .error-list .error-list-heading {
    background-color: rgba(253, 231, 232, 0.5);
}

.frictionless-components-report .result .error-details .error-list .error-list-heading {
    padding: 7.5px 15px;
    margin: 0;
    border-bottom: solid 1px rgba(241, 60, 63, 0.3);
    font-weight: 500;
}

.frictionless-components-report .result .error-details .error-list ul {
    max-height: 66vh;
    overflow: auto;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 0.85em;
    margin: 0;
    padding: 5px 0;
    background-color: rgba(253, 231, 232, 0.3);
}

.frictionless-components-report .result .error-details .error-list ul li {
    padding: 5px 15px;
    border-bottom: solid 1px rgba(241, 60, 63, 0.1);
}

.frictionless-components-report .result .error-details .error-list ul li:last-child {
    border: none;
}

.frictionless-components-report .result .table-view {
    position: relative;
}

.frictionless-components-report .result .table-view .inner {
    overflow-x: auto;
    padding-top: 15px;
}

.frictionless-components-report .result .table-view table {
    margin: 0;
    color: #595959;
    border-collapse: collapse;
}

.frictionless-components-report .result .table-view table tr {
    position: relative;
}

.frictionless-components-report .result .table-view table tr :last-child {
    border-right-width: 1px;
}

.frictionless-components-report .result .table-view table tr.fail td {
    background-color: #fde7e8;
}

.frictionless-components-report .result .table-view table tr:first-child {
    font-weight: 600;
}

.frictionless-components-report .result .table-view table tr:first-child :first-child {
    border-top-left-radius: 3px;
}

.frictionless-components-report .result .table-view table tr:first-child :last-child {
    border-top-right-radius: 3px;
}

.frictionless-components-report .result .table-view table tr.row-pass:not(:first-child) {
    display: none;
}

.frictionless-components-report .result .table-view table tr.row-pass:not(:first-child) + .row-before-fail:after {
    content: '';
    display: block;
    position: absolute;
    left: -5px;
    right: -5px;
    background-color: #fff;
    height: 10px;
    border-top: solid 1px #B3B3B3;
    border-bottom: solid 1px #B3B3B3;
    outline: solid 4px #fff;
}

.frictionless-components-report .result .table-view table td {
    border-style: solid;
    border-color: #B3B3B3;
    border-width: 1px 0 0 1px;
    position: relative;
}

.frictionless-components-report .result .table-view table td.fail {
    background-color: #fde7e8;
}

.frictionless-components-report .result .table-view table td.col-pass {
    display: none;
}

.frictionless-components-report .result .table-view table td.col-pass + .col-before-fail:before, .frictionless-components-report .result .table-view table td.col-pass + .col-before-fail:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    top: -5px;
    background-color: #fff;
}

.frictionless-components-report .result .table-view table td.col-pass + .col-before-fail:before {
    width: 14px;
    left: 6px;
}

.frictionless-components-report .result .table-view table td.col-pass + .col-before-fail:after {
    width: 10px;
    left: 8px;
    border-left: solid 1px #B3B3B3;
    border-right: solid 1px #B3B3B3;
}

.frictionless-components-report .result .table-view table td.col-after-fail:not(:last-child):before, .frictionless-components-report .result .table-view table td.col-after-fail:not(:last-child):after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    top: -5px;
    background-color: #fff;
}

.frictionless-components-report .result .table-view table td.col-after-fail:not(:last-child):before {
    width: 14px;
    right: 6px;
}

.frictionless-components-report .result .table-view table td.col-after-fail:not(:last-child):after {
    width: 10px;
    right: 8px;
    border-left: solid 1px #B3B3B3;
    border-right: solid 1px #B3B3B3;
}

.frictionless-components-report .result .table-view table.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.frictionless-components-report .result .table-view table.table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.frictionless-components-report .result .table-view table.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.frictionless-components-report .result .table-view table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.frictionless-components-report .result .table-view table.table-sm th {
    padding: 0.3rem;
}

.frictionless-components-report .result .table-view table.table-sm td {
    padding: 0.3rem;
}

.frictionless-components-report .result .table-view table.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.frictionless-components-report .result .table-view .result-row-index {
    font-weight: normal;
    width: 2em;
    text-align: center;
}

.frictionless-components-report .result .table-view:after {
    content: '';
    position: absolute;
    left: -1px;
    right: -1px;
    bottom: -1px;
    height: 30px;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 50%);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 50%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 50%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFFFF', endColorstr='#FFFFFFFF', GradientType=0);
}

.frictionless-components-report .result:not(:last-child) {
    padding-bottom: 20px;
}

.frictionless-components-report .result:not(:last-child):after {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0;
    height: 10px;
    background-image: url(../assets/zigzag.svg);
    background-position: center;
    background-repeat: repeat-x;
    background-size: 29px 10px;
}

.frictionless-components-report .result .show-more {
    color: #595959;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    top: -0.5em;
}

.frictionless-components-report .result .show-more [class^="icon-"] {
    font-size: 1.5em;
    top: 0.2em;
    left: -0.1em;
}

.frictionless-components-report .result .collapse {
    display: none;
}

.frictionless-components-report .result .collapse.show {
    display: block;
}

.frictionless-components-report .result tr.collapse.show {
    display: table-row;
}

.frictionless-components-report .result tbody.collapse.show {
    display: table-row-group;
}


.frictionless-components-report .passed-tests {
    padding: 0 22.5px;
    margin: 15px -22.5px;
}

.frictionless-components-report .passed-tests:not(:last-child):after {
    left: 0;
    right: 0;
    bottom: -1px;
    background-color: #fff;
    mask: url(../assets/zigzagmask.svg);
    mask-size: 29px 10px;
    mask-position: center;
    mask-repeat: repeat-x;
}

.frictionless-components-report .passed-tests li {
    display: inline-block;
}

.frictionless-components-report .passed-tests li .badge {
    display: inline-block;
    margin-bottom: 10px;
}
