:root {
  --sl-font: 'Hanken Grotesk Variable', sans-serif;
  --purple-hsl: 209, 60%, 60%;
  --overlay-blurple: hsla(var(--purple-hsl), 0.2);
  /* It's a primary color of the app itself */
  /* --brand-color: #0288d1; */
  --primary-color: #00d1ff;
}

:root[data-theme='light'] {
  --purple-hsl: 209, 85%, 65%;
  --sl-color-text-accent: var(--primary-color);
  --sl-color-banner-bg: #85898c;
}

:root[data-theme='dark'] {
  --sl-color-text-accent: var(--primary-color);
  --sl-color-banner-bg: #85898c;
}

body {
  font-family: 'Roboto', sustem-ui, sans-serif;
}

[data-has-hero] .page {
  background:
    linear-gradient(215deg, #dbfb2c, transparent 10%),
    radial-gradient(var(--primary-color), transparent 30%) no-repeat -60vw -40vh / 105vw
      200vh,
    radial-gradient(#ed73fe, transparent 60%) no-repeat 50% calc(100% + 20rem) / 60rem
      30rem;
}

[data-has-hero] header {
  border-bottom: 1px solid transparent;
  background-color: transparent;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}

[data-has-hero] .hero > img {
  filter: drop-shadow(0 0 3rem var(--overlay-blurple));
}

[data-has-hero] .sl-banner a {
  text-decoration: 1px underline;
  text-underline-offset: 0.1em;
}

[data-has-hero] h1 {
  font-size: 48px;
}

.ph-banner {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: clamp(1rem, calc(0.75rem + 1vw), 1.65rem);
}

.ph-houston {
  padding-block: 0.25rem;
}

.ph-text {
  display: flex;
  flex-direction: column;
  gap: 0.25rem 1rem;
  text-align: start;
  padding-block: var(--sl-nav-pad-y);
}

.ph-text strong {
  font-weight: 600;
}

@media (min-width: 23em) {
  .ph-banner {
    justify-content: center;
  }

  .ph-houston img {
    vertical-align: middle;
  }
}

@media (min-width: 40em) {
  .ph-banner {
    gap: 3.5rem;
  }

  .ph-houston {
    padding: 0;
  }

  .ph-houston img {
    scale: 1.75;
  }

  .ph-text {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* Firefox */
* {
  scrollbar-color: var(--primary-color) transparent;
}

/* Webkit */
/* Make scrollbars transparent except for main page scrollbar. */
::-webkit-scrollbar,
::-webkit-scrollbar-track {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

body::-webkit-scrollbar,
body::-webkit-scrollbar-track {
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: var(--primary-color);
}
